{% extends '::base.html.twig' %}

{% block body %}
    <p>
        <a href="{{ path('product_add') }}">Add product</a>
    </p>

    <p>All products {{ pagination.getTotalItemCount }}</p>
    <p>Max promotion active today: {{ max_promotion }}%</p>
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'name', 'p.name') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'price', 'p.price') }}</th>


    <form action="{{ path('cart_add') }}" method="post">


    <table class="table">
        <tr class="row">
            <th>Num</th>
            <th>id</th>
            <th>Product name</th>
            <th>Category name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>actions</th>
        </tr>
        {% for key,product in pagination %}
            <tr class="row">
                <td>{{ key+1 }}</td>
                <td>
                    {{ product.id }}
                    <input type="checkbox" value="{{ product.id }}" name="products[]">
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    {%  set product_promotion = calc.calculate(product) %}

                    {% if product_promotion != product.price %}
                        <del>{{ product.price | number_format(2) }}</del><br />
                    {% endif %}
                    {{ product_promotion | number_format(2) }}
                </td>
                <td>{{ product.stock.count }}</td>
                <td><a href="{{ path('product_edit', {product:product.id}) }}">edit</a> </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6">
                <button type="submit">Add to cart</button>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                {{ knp_pagination_render(pagination) }}
            </td>
        </tr>

    </table>


    </form>
{% endblock %}

