{% extends 'base.html.twig' %}

{% block body %}
    <h1>Movie creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.year) }}

        <h3>Actors</h3>
    <ul class="actors"  data-prototype="{{ form_widget(form.actors.vars.prototype)|e}}">

    {% for actor in form.actors %}
        <li>
            {{ form_row(actor.name) }}
            {{ form_row(actor.characterName) }}
        </li>
    {% endfor %}

    </ul>

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('movie_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/main/js/collection.js') }}"></script>

{%  endblock %}